.btn {
    margin-top: 10px;
    margin-right: 10px;
}

#magic-maker,
#topic {
    display: block;
    width: 280px;
    text-align: center;
}

.each-gif {
    display: inline-block;
    margin-right: 10px;
}

#left-column {
    position: fixed;
    z-index: 100;
    width: 300px;
    padding-left: 15px;
}

#gif-catcher {
    margin-top: 15px;
    padding-left: 300px;
}